
@{
    ViewBag.Title = "IndexBruker";
}
<head>
    <script type="text/javascript">
        $(function () {
            $.ajax({ // henter data til KontoNr listen i ny transaksjon tabellen.
                url: '@Url.Action("HentKontoNr", "Kundes")',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    Kontoliste(data);
                    //alert("Ajax Suksess");
                },
                error: function (feilmelding) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.");
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            $.ajax({ // Henter data til oversikt tabellen.
                url: '@Url.Action("KontoOversikt", "Kundes")',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    VisKontOversikt(data);
                },
                error: function (feilmelding) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.");
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            //Disse bygger nettsiden.
            function VisKontOversikt(jsKontoOversikt) {
                utStreng = "";
                for (var løpeNr in jsKontoOversikt) {
                    utStreng += "<table class='table table-hover' id='" + jsKontoOversikt[løpeNr].KontoNr + "' onclick='VisDetaljer(this.id)'>";
                        utStreng += "<thead style='background-color:AliceBlue'><tr><th><span class=' glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span></th>";
                            utStreng += "<th><strong>KontoNr:</strong> " + jsKontoOversikt[løpeNr].KontoNr + "</th><th><strong> Saldo:</strong> " + jsKontoOversikt[løpeNr].Saldo + " ,-</th></tr>"
                                utStreng += "</thead></table>";
                                utStreng += "<div id='KontoDetaljer" + jsKontoOversikt[løpeNr].KontoNr + "'></div>";
                }
                $("#KontoOversikt").append(utStreng);

            }
            function Kontoliste(jsKontoListe) {
                utStreng = "";
                for (var løpeNr in jsKontoListe) {
                    utStreng += "<option>" + jsKontoListe[løpeNr].KontoNr + "</option>";
                }
                $("#KontoSelect").append(utStreng);
            }
        }); // Document ready slutt.
        function VisDetaljer(id) { // onclick på  oversikt tabellen kaller denne.
            if ($("#KontoDetaljer" + id).is(":empty")) {
                $.ajax({ // Henter data til oversikt tabellen.
                    url: '@Url.Action("HentTransaksjoner", "Kundes")',
                    data: { KontoNr: id },
                    type: 'post',
                    dataType: 'json',
                    success: function (jsTrans) {
                        VisTransaksjoner(id, jsTrans);
                    },
                    error: function (feilmelding) {
                        alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.");
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
        };
        function VisTransaksjoner(id, jsTrans) {
            utStreng = "<table class='table table-striped table-bordered table-condensed table-hover'>";
            utStreng += "<thead><th>Til Konto:</th><th>Beløp</th><th>Dato</th></thead>";
            for (var i in jsTrans){
                utStreng += "<tr><td>" + jsTrans[i].TilKonto + "</td><td>" + jsTrans[i].Belop + " ,-</td><td>" + jsTrans[i].Forfallsdato + "</td></tr>";
            }
            utStreng += "</tbody></table>";
            $("#KontoDetaljer" + id).append(utStreng);
        }
    </script>
</head>
<div id="persnr" data-persnr="@Session["PersonNr"]"></div>
<div class="container">
    <div id="KontoOversikt">
        <h2>Dine Kontoer</h2>
        <!--VisKontoOversikt-->
    </div>
    @Html.Partial("NyTransaksjon")
</div>